<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Testing GO</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header id="atf">
    <div id="h-nav">
      <a href="\" id="h-logo">RodrigoW's test site</a>
      <nav id="h-links">
        <a href="\" class="nav-links">Home</a>
        {{if .LoggedIn}}
         <a href="\logout" class="nav-links">Logout</a>
        {{else}}
         <a href="\register" class="nav-links">Register</a>
         <a href="\login" class="nav-links">Login</a>
        {{end}}
      </nav>
    </div>
    <div class="h-main">
      <h1>DANGER!!! BEWARE!!</h1>
      <h2>A lot of tests happening here!! Scroll down at your own risk!</h2>
    </div>
  </header>
  <main>
  <h3>Testing mySQL</h3>
    <table>
      <thead>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          User ID
        </th>
        <th>
          Password
        </th>
      </thead>
      <tbody>
      {{range .Us}}
        <tr>
          <td>{{.FName}}</td>
          <td>{{.LName}}</td>
          <td>{{.ID}}</td>
          <td>{{.Password}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </main>
</body>
</html>
