<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Testing GO</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="h-nav">
      <a href="\" id="h-logo">RodrigoW's test site</a>
      <nav id="h-links">
        <a href="\" class="nav-links">Home</a>
        {{if .}}
         <a href="\logout" class="nav-links">Logout</a>
        {{else}}
        <a href="\register" class="nav-links">Register</a>
        <a href="\login" class="nav-links">Login</a>
        {{end}}
      </nav>
    </div>
  <main id="register-main">
    <form class="reg-form" action="" method="post">
      <label for="id"> ID</label>
      <input type="text" id="id" name="id" placeholder="Enter you ID name, please" autocomplete="off" required>

      <label for="password"> Password</label>
      <input type="password"  id="password" name="password" placeholder="Enter you password name, please" autocomplete="off" required>

      <div class="btns">
        <input type="submit" id="btn-submit" value="Login">
      </div>
    </form>
  </main>
</body>
</html>
